.example-form {
    min-width: 150px;
    max-width: 100px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto; 
    gap: 0px;
  }
  h1,h2,h3, div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  h1{
    font-weight: bold;
  }
  h2,h3{
    font-weight: lighter;
  }
  form h2{
    min-width: 100px;
    margin-right: -4cm;
    /* font-weight: bold; */
  }
  button, .mat-nput::ng-deep{
    height: 40px;
    border-radius: 10%;
  }
  button{
    height: 40px;
    border-radius: 10%;
  }
  .example-full-width {
    width: 100%;
  }
  .logo{
    background-image: url("../../../img/LOGO.jpg");
    width: 7cm;
    height: 5cm;
    background-repeat: no-repeat;
    margin: auto;
  }
  div{
    text-align: center;
  }
