<div class="logo"></div>

<h1>כניסה למוזיאון</h1>
<h2>נא למלא את הפרטים הדרושים ולחץ המשך.</h2>
<h3>הכניסה למוזיאון אינה כרוכה בתשלום (כניסה בלבד ללא הדרכה)</h3>
<h3>פרטי הסיור</h3>
<form class="example-form" (keyup.enter)="onEnterKeyPress()">
    <h2>מספר מבקרים</h2>
    <button mat-raised-button color="primary" id="plus" (click)="addNum()">+</button>
        <input matInput [formControl]="numberVisitorsControl" />
    <button mat-raised-button color="primary" id="minus" (click)="subtractNum()">-</button>
</form>
<router-outlet></router-outlet>